loguru

ffmpeg-python>=0.2.0
librosa
pydub>=0.25.1

python-multipart>=0.0.6
fastapi>=0.104.0
uvicorn[standard]>=0.24.0

# transformers>=4.51.3
git+https://github.com/huggingface/transformers.git
accelerate>=1.12.0

openai
openai-whisper
faster-whisper